@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
    --dark-color-a: #f1f0f0;
    --dark-color-b: #fcfcfc;
    --light-color: #fdfdfd;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

#title {
    text-align: center;
    color: blue;
}

#cap {
    color: rgb(219, 200, 90);
}

#active-users {
    background-color: white;
    text-align: center;
    border-radius: 50px;
    color: var(--success-color);
}

#online-users {
    background-color: white;
    text-align: center;
    border-radius: 50px;
    color: var(--success-color);
}

body {
    max-height: fit-content;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: var(--light-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.chat-container {
    /* max-width: 1100px; */
    /* max-height: 1100px; */
    background: #fff;
    margin: 30px auto;
    overflow: hidden;
}

.chat-header {
    background: var(--dark-color-b);
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: space-between;
}

.chat-main {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
    background: rgb(255, 255, 255);
    color: rgb(187, 185, 185);
    padding: 10px;
    overflow-y: hidden;
}

.chat-messages {
    padding: 30px;
    max-height: 400px;
    overflow-y: scroll;
    color: white;
}

.chat-messages .message {
    padding: 10px;
    margin-bottom: 15px;
    background-color: var(--success-color);
    border-radius: 5px;
    overflow-wrap: break-word;
}

.chat-messages .message .meta {
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    margin-bottom: 7px;
}

.chat-messages .message .meta span {
    color: rgb(247, 224, 224);
}

.chat-form-container {
    padding: 20px 30px;
    background-color: var(--dark-color-a)
}

.chat-form-container form {
    display: flex;
    justify-content: center;
}

.chat-form-container input[type='text'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    flex: 1;
}

@media (max-width: 500px) {
    .chat-main {
        display: block;
    }
	.chat-messages {
		max-height: 350px;
	}
}

@media (max-width: 400) {
    .chat-main {
        display: block;
    }

	.chat-messages {
		max-height: 200px;
	}
}